<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <div class="login-sec">
            <div class="login-heading">
                <h1>Login</h1>
            </div>
            <form action="/login" method="post" id="logform" class="login-details">
                <div class="login-left">

                    <div class="login-element">
                    <label for="username"> Email</label> 
                    <input type="email" name="username" required="required" id="Enrollment">
                    </div>
                    
                    <div class="login-element">
                    <label for="Dob"> D.O.B</label> 
                    <input type="date"name="password" id="Dob" required="required" placeholder="DD/MM/YYYY">
                    </div>
                </div>
            </form>
            <button type="submit" form="logform" class="btn">LOGIN</button>
            
        </div>
    </div>
</body>
</html>