<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/virtualwalk.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <div class="navbar">
            <div class="logo">
                <h1>Virtual Walk</h1>
            </div>
            <div class="navcontent">
                <a href="">FAQs</a>
                <button>Request a walk</button>
            </div>               
        </div>

        <div class="hero-section">
            <div class="about">
                <h2>Move with a volunteer</h2>
                <p> In a time of insecurity, vices that leave us missing and lost without help from anywhere.
                    Security is here as your virtual bodyguard, not just to keep you safe but also sending you help
                    when you need it.
                </p>
            </div>
            <div class="image">
                <img src="../assets/virtual-walk.jpeg.jpg" alt="">
            </div>
        </div>
    </div>
</body>
</html>